<div id="id_modal_loader" class="class_modal">
    <div class="class_loader class_loader_display"></div>
</div>

<img id="id_image_change" style="display: none;" src="">

<div id="id_modal_message_success" class="class_modal">
    <div class="class_modal_container">
        <div id="id_modal_message" class="class_modal_head">
        </div>
    </div>
</div>