

<div class="panel_container">
    <%- include("./panel_encabezado.ejs") %>

    <div id="id_panel_menu_icon_open" class="panel_menu_icon">
        <i class="fas fa-bars"></i>
    </div>

    <div class="panel_elements_container">
        <div class="panel_location">
            <span>Panel / <%= path %></span>
        </div>
    </div>

    <div class="panel_elements_container panel_border">
        <span class="panel_welcome_title">Cambiar contraseña</span>
        <br>
        <span class="panel_welcome_subtitle">
            <i class="fas fa-share"></i>
            En esta sección podrás cambiar la contraseña de tu cuenta. 
        </span>
    </div>

    <div class="panel_elements_container panel_border">
        <div class="panel_title">
            <h4>
                Cambiar contraseña
            </h4>
        </div>  
        
        <form id="id_form_change_password" action="/change_password" method="POST">
            <div class="mb-4">
                <label for="id_password_old" class="form-label">Antigua contraseña</label>
                <input id="id_password_old" class="form-control" autocomplete="nope" type="password" name="password_old">
            </div>

            <div class="mb-4">
                <label for="id_password_new">Nueva contraseña</label>
                <input id="id_password_new" class="form-control" autocomplete="nope" type="password" name="password_new">
            </div>

            <div class="mb-4">
                <label for="id_password_new_repeat">Repetir nueva contraseña</label>
                <input id="id_password_new_repeat" class="form-control" autocomplete="nope" type="password" name="password_new_repeat">
            </div>
            
            <button id="id_panel_change_password" class="btn btn-primary">Cambiar contraseña</button>
        </form>
    </div>
</div>