button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 3px;
    outline: none;
    border-style: none;
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}

.class_btn_primary {
    background-color: #6866df;
}

.class_btn_primary:hover {
    background-color: #a9a8ec;
}

.class_btn_primary:active {
    background-color: #3c3c80;
}

.class_btn_primary:disabled {
    cursor: not-allowed;
    background-color: #b4b4da;
}

.class_btn_secondary {
    background-color: #8d8d3c;
}

.class_btn_secondary:hover {
    background-color: #adad7d;
}

.class_btn_inline {
    color: blue;
    border-style: solid;
    border-width: 1px;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 255, 0.05) 50%
    );
    cursor: pointer;
}

.class_btn_inline:hover {
    background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 255, 0.5) 50%
    );
}