.form_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}

.form_main_container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: #d8d7d7;
    background-color: white;
    max-height: 80%;
}

.form_main_container input {
    padding: 10px;
    border-radius: 0px;
    outline: none;
}

.form_main_container form .form-group {
    margin-top: 5%;
    width: 75%;
}

.form_main_container span {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form_main_container a {
    text-decoration: none;
}

.form_main_container i {
    padding: 20px;
    border-radius: 100%;
    background-color: #28282b;
    color: white;
    font-size: 30px;
}

.form_main_container .login_title {
    font-size: 20px;
}

.form_main_container .register_input_container {
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.btn {
    border: 0;
}

@media only screen and (max-width: 860px) { 
    .form_main_container form {
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
    }

    .form_main_container span {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .class_modal .class_modal_container {
        display: flex;
        width: 100%;
        font-size: 15px;
    }
}