
@media only screen and (min-width: 768px) {

    ::-webkit-scrollbar {
        background-color: lightblue;
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #45448a;
    }
}