<div class="panel_header">
    <div class="panel_header_notification_container">
        <i id="id_notification_icon" class="fas fa-bell"></i>
        <span id="id_notification_num" class="panel_header_notification">1</span>

        <div id="id_notification_menu" class="panel_header_notification_menu">
            
            
        </div>
    </div>
</div>