.panel_main_container {
    display: flex;
    width: 100%;
    z-index: 100;
}

.panel_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #3fa6c9;
}

.panel_header_title {
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    margin-left: 1%;
    font-size: 16px;
}

.panel_menu_container {
    display: flex;
    flex-direction: column;
    background-color: #352f46;
    width: 30%;
    height: 625px;
}

.panel_menu_image_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
    padding: 5%;
    border-color: white;
    box-sizing: border-box;
    background-color: #252131;
}

.panel_menu_image img {
    width: 75px;
    border-radius: 100%;
}

.panel_menu_image_container span {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 14px;
}

.panel_menu_items_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
}

.panel_menu_items_title {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5%;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #76a576;
    cursor: pointer;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.panel_menu_items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel_menu_items span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c0bebe;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    padding: 7%;
    cursor: pointer;
    transition: 0.25s;
    box-sizing: border-box;
    background-color: #2b2828;
}

.panel_menu_items span:hover {
    background-color: #4a4a61;
}

.panel_menu_items i {
    font-size: 16px;
}

.panel_menu_items .panel_menu_items_logout {
    background-color: #352f46;
    font-weight: bolder;
}

.panel_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 625px;
    overflow: auto;
}

.panel_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #5a76d3;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
}

.panel_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    margin-top: 3%;
}

.panel_image_container {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin-top: 8%;
    font-size: 12px;
    width: 7%;
    height: 5%;
    border-radius: 5px;
    background-color: #8d8d3c;
}

.panel_image_container_display {
    display: flex;
}

.panel_image_container:hover {
    display: flex;
    background-color: #adad7d;
}

.panel_image_container i {
    color: white;
}

.panel_image_container i:hover {
    display: flex;
}

.panel_image_file:hover {
    border-style: solid;
}

.panel_image_file input {
    display: none;
}

.panel_image_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    cursor: initial;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel_gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.image_gallery {
    width: 130px;
    height: 100px;
    cursor: pointer;
    padding: 3px;
}

.image_gallery_select {
    box-shadow: 0px 0px 10px blue;
}

.panel_image_gallery_title {
    font-family: sans-serif;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bolder;
    color: #354691;
}

.panel_image_gallery_subtitle {
    font-family: sans-serif;
    margin-top: 5%;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
    color: #2b2b5e;
    margin-left: 1%;
}

.panel_image_gallery_subtitle i {
    font-size: 20px;
}

.image_gallery:hover {
    filter: opacity(0.7);
}

.panel_main_stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.panel_stat_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #212153;
    font-size: 20px;
    margin-top: 1%;
}

.panel_stat_title i {
    color: orange;
    font-size: 25px;
    width: 40px;
}

.panel_stat_container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 3%;
}

.panel_stat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: #23234b;
}

.panel_image_gallery_upload {
    padding: 5px;
    background-color: #6866df;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.panel_image_gallery_upload:hover {
    background-color: #a9a8ec;
}

.panel_gallery_buttons_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    width: 50%;
}

.panel_image_upload_error {
    align-items: center;
    font-weight: normal;
    color: red;
    margin-left: 10px;
    font-size: 13px;
    visibility: hidden;
}

.panel_image_upload_error_display {
    visibility: visible;
}

.panel_image_upload_error i {
    font-size: 13px;
}

.panel_image_gallery_exit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 75%;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 3%;
    cursor: pointer;
}

.panel_user_stats_container {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.panel_user_stats_container_view {
    display: flex;
}

.panel_user_money {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
}

.panel_buttons_secondary_container {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-top: 1%;
}

.panel_buttons_secondary_container_display {
    display: flex;
}

.modal_payment_method {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.modal_payment_method_error {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: red;
    margin-top: 3%;
}

.modal_search_container {
    display: flex;
    flex-direction: column;
    width: 85%;
    overflow-y: auto;
    max-height: 150px;
    z-index: 1;
    border-top: 0px;
    border-radius: 5px;
}

.modal_search_user_container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1%;
}

.modal_search_user_container:hover {
    background-color: #dfe1e2;
}

.modal_search_name_result {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: #1e1e5f;
}

.modal_search_email_result {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #a5a5a8;
}

.panel_activity_display {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 1s;
}

.panel_activity_display_view {
    display: flex;
}

.panel_activity_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.panel_activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: sans-serif;
    margin-top: 2%;
}

.panel_activity_message_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bolder;
    font-size: 14px;
    padding: 10%;
}

.panel_activity_message {
    color: gray;
}

.panel_activity_product {
    color: gray;
}

.panel_activity_title_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    font-family: sans-serif;
    font-weight: bolder;
}

.panel_activity_title {
    color: #29235e;
    text-decoration: underline;
}

.panel_activity_details_container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.panel_activity_details_container_display {
    display: flex;
}

.panel_activity_details {
    font-size: 14px;
    color: gray;
}

.panel_activity_details_elements {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
}

.panel_activity_search select {
    width: 50%;
}

.panel_activity_pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.panel_activity_pages span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    padding: 5px;
    width: 15px;
    height: 15px;
    color: white;
    cursor: pointer;
}

.panel_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-family: sans-serif;
    font-weight: bolder;
    color: #808080;
    font-size: 13px;
}

.panel_vinculated_information {
    width: 80%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: #261b38;
}

.panel_report_message_error {
    display: none;
    font-family: sans-serif;
    font-weight: bolder;
    color: red;
    font-size: 13px;
}

.panel_report_message_error_display {
    display: block;
}

.panel_report_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #404040;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #d6d6d6;
}